
    <div class="informBlock1">

        <h1 class="mainText1">Information</h1>
        
    <div class="page">
        <div class="wrap">
            <div class="informBlock">
                <img src='assets/img/cntrl.png'/>
                <h5 class="mainText">Diversity</h5>
                <div class="underlineBlock"></div>
                <p class="secondText">On our site you will find a huge number of games
                     for every taste. Acrades, action games, shooters, 
                     strategies. Play with your friends and have fun.</p>
            </div>
    
            <div class="informBlock">
                <img src='assets/img/dsc.png'/>
                <h5 class="mainText">Discounts</h5>
                <div class="underlineBlock"></div>
                <p class="secondText">The ability to purchase your favorite games at
                     a low price. We want you to always 
                     find what you like. And for money.</p>
            </div>
    
            <div class="informBlock">
                <img src='assets/img/ppl.png'/>
                <h5 class="mainText">Communication</h5>
                <div class="underlineBlock"></div>
                <p class="secondText">Games are a very easy way to make
                    new friends. This is a great way to
                     find people with similar interests and hobbies.</p>
            </div>
        </div>
    </div>
    <h1 class="Images">
        <a href="https://vk.com/vannnyshka" target="_blank"><img src='assets/img/vk.png' class="img1"/></a>
        <img src='assets/img/tl.png' class="img2"/>
        <a href="https://www.instagram.com/vannnyshka/" target="_blank"><img src='assets/img/inst.png' class="img3"/></a>
    </h1>

    </div>
