img{
    width: 15%;
}

.wrap {
    display: flex;
    font-family: Trebuchet MS; 
}


.informBlock {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 3em;
    display: flex;
	width: 100%;
	height: auto;
	background: #1b1b1b;
	padding: 30px;
	box-sizing: border-box;
	transition: .4s;
}

.mainText{
    margin-top:0;
    margin-left: 2em;
    color: #fff;
	font-size: 20px;
}

.underlineBlock {
	height: 0;
	width: 35px;
	border-top: 2px solid #e9204f;
	margin-top: 0.5em;
	transition: .4s;
}

.secondText {
	color: #fff;
	font-size: 14px;
}

.informBlock:hover {
	background: #e9204f;
	transform: scale(1.02);
}

.informBlock:hover i {
	color: #fff;
}

.informBlock:hover .underlineBlock {
	border-color: #fff;
}

